<section>
  <h1>ISTO É PRODUCT</h1>

  <section class="filters">

    <article>
      <input type="radio" name="rad" id="all" (change)="handleFilterBook()" #all [defaultChecked]="true"/>
      <label for="all">Todos</label>
    </article>

    <article>
      <input type="radio" name="rad" id="read" (change)="handleFilterBook()" #read />
      <label for="read">Lidos</label>
    </article>

    <article>
      <input type="radio" name="rad" id="notRead" (change)="handleFilterBook()" #notRead />
      <label for="notRead">Não Lidos</label>
    </article>

    <article>
      <label for="searchbar">Search by Title: </label>
      <input type="text" id="searchbar" #searchbar name="search" placeholder="Insert Title" [formControl]="searchInput"/>
    </article>

  </section>

  <section class="grid" >

    <article class="card" *ngFor="let book of books |async">

      <h1>{{book.title}}</h1>
      <h2>{{book.author}}</h2>
      <img [routerLink]="['/product', book.id]" src="assets/livros/{{ book.imageUrl }}" />
      <p>Already Read: {{book.alreadyRead ? '✔' : '✘'}}</p>
      <button (click)="handleDelete(book.id)">Delete</button>

    </article>

  </section>

</section>
